/*通用样式  */
@font-face {
  font-family: 'iconfont';
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/iconfont.woff') format('woff'),
  url('fonts/iconfont.ttf') format('truetype'),
  url('fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
span::selection,
a::selection {
    background: #fed136;
}
ul,
ol {
    list-style: none;
}

/*顶部导航栏样式  */
.topbar {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: #000;
    z-index: 1;
}

.topbar-content {
    max-width: 1140px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar-content > ul {
    display: flex;
}
.topbar-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
.topbar-content ul a {
    padding: 15px;
}
.topbar-content ul a:hover {
    color: #fed136;
}
.topbar-content ul a:focus {
    color: #fff;
    background: #fed136;
    border-radius: 5px;
}
.topbar-content > a {
    font-size: 2em;
    color: #fed136;
}

/*主区域样式  */
main {
    width: 100%;
}
main > div > h2 {
    margin-bottom: 15px;
    font-size: 40px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
main > div > h4 {
    margin-bottom: 75px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    color: #777;
}

/*欢迎区域样式  */
.welcome-bg {
    background-image: url(img/bg-img.jpg);
    background-size: cover;
    background-position: center center;
}
.welcome-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 250px 0;
    text-align: center;
}
.welcome-container p {
    margin-bottom: 50px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 75px;
    line-height: 75px;
    font-weight: bold;
    color: #fff;
}
.welcome-container p:first-child {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
    color: #fff;
}
.welcome-container a {
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #fed136;
}
.welcome-container a:hover {
    background: #f6bf01;
}

/*services区域样式  */
#services {
    padding: 150px 0;
    background: #fff;
    text-align: center;
}
#services .services-ct {
    max-width: 1140px;
    margin: 0 auto;
}
#services .services-all {
    display: flex;
}
#services .services-all .service {
    padding: 15px;
}
#services .services-all .service h3 {
    margin: 15px 0;
    font-size: 20px;
}
#services .services-all .service p {
    color: #777;
}
#e-commerce::before {
    content: "\e601";
    display: inline-block;
    font-size: 80px;
    color: #fed136;
    border-radius: 50%;
}
#design::before {
    content: "\e647";
    display: inline-block;
    font-size: 80px;
    color: #fed136;
    border-radius: 50%;
}
#security::before {
    content: "\e63c";
    display: inline-block;
    font-size: 80px;
    color: #fed136;
    border-radius: 50%;
}

/*protfolio区域样式  */
#protfolio {
    padding: 150px 0;
    background: #eee;
    text-align: center;
}
#protfolio .protfolio-ct {
    max-width: 1140px;
    margin: 0 auto;
}
#protfolio .protfolio-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#protfolio .protfolio-all .protfolio {
    margin-bottom: 25px;
    background: #fff;

}
#protfolio .protfolio-all .protfolio img {
    width: 360px;
    vertical-align: bottom;
}
#protfolio .protfolio-all .protfolio .protfolio-txt {
    padding: 25px;
}
#protfolio .hidden-ct {
    position: relative;
}
#protfolio .hidden-ct .hidden {
    position: absolute;
    width: 360px;
    height: 261px;
    background: #fed136;
    opacity: 0;
}
#protfolio .hidden-ct .hidden::after{
    content: "+";
    display: block;
    line-height: 260px;
    font-weight: 700;
    font-size: 100px;
    color: #fff;
}
#protfolio .hidden-ct .hidden:hover {
    opacity: .9;
    transition: .5s;
}
#protfolio .protfolio-txt h3 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#protfolio .protfolio-txt p {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #777;
}

/*about区域样式  */
#about {
    padding: 150px 0;
    text-align: center;
}
#about .about-ct {
    max-width: 1140px;
    margin: 0 auto;
}
#about .timeline li {
    position: relative;
    padding-bottom: 125px;
}
#about .timeline li img {
    width: 156px;
    border: 5px solid #ddd;
    border-radius: 50%;
}
#about .timeline li .about-txt {
    position: absolute;
    top: 10px;
    right: 50%;
    margin-right: 100px;
    width: 30em;
    text-align: right;
}
#about .timeline li:nth-child(2n) .about-txt {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: 100px;
    width: 30em;
    text-align: left;
}
#about .timeline .about-txt h3 {
    margin-bottom: 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#about .timeline .about-txt p {
    font-size: 14px;
    color: #777;
    line-height: 1.75;
}
#about .timeline li::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    border: 1px solid #ddd;
    z-index: -1;
}
#about .timeline li:last-child {
    padding-bottom: 0;
}
#about .timeline li:last-child {
    width: 156px;
    height: 156px;
    margin: 0 auto;
    background: #fed136;
    border: 5px solid #ddd;
    border-radius: 50%;
}
#about .timeline li:last-child p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    line-height: 1.5em;
    color: #fff;
    font-weight: 700;
}

/*team区域样式  */
#team {
    padding: 150px;
    text-align: center;
    background: #eee;
}
#team .team-ct {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
#team .member img {
    border: 5px solid #ddd;
    border-radius: 50%;
}
#team .member h3 {
    margin-top: 25px;
}
#team .member p {
    color: #777;
    margin-bottom: 10px;
}
#team .member ul {
    display: flex;
    justify-content: center;
}
#team .member li {
    margin: 0 10px;
}
#team .member a {
    color: #000;
    text-decoration: none;
}
#team .member a:hover {
    color: #fed136;
    transition: .3s;
}
#team .member a i {
    font-size: 40px;
}

/*client区域样式  */
#client {
    padding: 50px 0;
}
#client ul {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

/*contact区域样式  */
#contact {
    padding: 150px 0;
    text-align: center;
    background: #000;
    background-image: url(img/map-image.png);
}
#contact h2 {
    color: #fff;
}
#contact h4 {
    color: #999;
}
#contact .contact-ct {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}
#contact .contact-ct .info {
    width: 550px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contact .info input {
    outline: none;
    padding: 20px;
    border-radius: 5px;
}
#contact .message {
    width: 50%;
}
#contact .message textarea {
    outline: none;
    width: 550px;
    height: 236px;
    padding: 20px;
    border-radius: 5px;
}
#contact #submit {
    margin: 20px;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background: #fed136;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    outline: none;
}
#contact #submit:hover {
    background: #f6bf01;
}

/*footer区域样式  */
footer {
    padding: 20px 0;
}
.footer-ct {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-ct ul li {
    display: inline-block;
    margin: 5px 10px;
}
.footer-ct #social a {
    color: #000;
    text-decoration: none;
}
.footer-ct #social a:hover {
    color: #fed136;
    transition: .3s;
}
.footer-ct #social a i {
    font-size: 40px;
}
.footer-ct #links a {
    color: #fed136;
    text-decoration: none;
}
.footer-ct #links a:hover {
    color: #f6bf01;
    text-decoration: underline;
}